/***********************************************************************************
                              STANDARD MODE (LIGHT MODE)
***********************************************************************************/
/***********************************************************************************
                              STYLING FOR *
***********************************************************************************/
/***********************************************************************************
                              NAVBAR VARIABLES
***********************************************************************************/
@-webkit-keyframes changeZIndex {
  0% {
    z-index: -4;
  }
  50% {
    z-index: 0;
  }
  75% {
    z-index: 0;
  }
  100% {
    z-index: 0;
  }
}
@keyframes changeZIndex {
  0% {
    z-index: -4;
  }
  50% {
    z-index: 0;
  }
  75% {
    z-index: 0;
  }
  100% {
    z-index: 0;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  background: #69bac9;
  color: #c5ccd3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  justify-items: space-between;
}

/*     Import homepage styling       */
nav {
  width: 5vw;
  height: 100vh;
  font-size: 2rem;
  background: #2c2c31;
}

nav ul {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

nav ul li {
  background: 7EE8FA;
  position: relative;
  height: 7.5vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

nav ul li span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 10vw;
  position: absolute;
  -webkit-transform: translateX(-5vh);
          transform: translateX(-5vh);
  color: #2c2c31;
  padding-left: 5vh;
  opacity: 0;
  z-index: -4;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

nav ul li span:last-child {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #ecf0f1;
}

nav ul li:not(.nothing) {
  cursor: pointer;
}

nav ul li:not(.nothing):not(.user):hover {
  width: 30vw;
}

nav ul li:not(.nothing):not(.user):hover span:first-child {
  padding: 1rem 1rem 1rem 3vh;
  -webkit-transform: translateX(15vh);
          transform: translateX(15vh);
  opacity: 1;
  color: #ecf0f1;
  background: #2c2c31;
}

nav ul li:not(.nothing):not(.user):hover span:last-child {
  color: #1d648d;
}

nav ul .user {
  height: 10vh;
  width: 5vw;
  color: #ecf0f1;
  position: relative;
}

nav ul .user:hover {
  color: #1d648d;
}

nav ul .active span:last-child {
  color: #1d648d;
}

nav ul .active span:last-child:hover {
  color: #322fcc;
}

nav ul .nothing {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10%;
  width: 100%;
  background: #2c2c31;
  padding: 0 3vw;
  margin-bottom: 3vh;
  color: #ecf0f1;
}

main section > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main section .logo {
  cursor: pointer;
  font-size: 3rem;
}

main section .logo:hover {
  color: #1d648d;
}

main section .social {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .social a:not(:last-child) {
  margin-right: 2rem;
}

main section .social > * {
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #ecf0f1;
}

main section .social > *:hover {
  color: #1d648d;
}

main section .date {
  font-size: 2.5rem;
}

main .timetable {
  color: black;
  z-index: -6;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  border: 1px solid black;
  margin: 3vh;
  margin-top: 0;
  padding: 0.5vh;
  -ms-grid-columns: 5vw (1fr)[5];
      grid-template-columns: 5vw repeat(5, 1fr);
  -ms-grid-rows: 10vh 3vh 1fr;
      grid-template-rows: 10vh 3vh 1fr;
      grid-template-areas: "header header header header header header" "days days days days days days" "period monday tuesday wednesday thursday friday";
}

main .timetable > *:not(.days) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .timetable .header, main .timetable .period {
  background: #24b916;
}

main .timetable .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: header;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
}

main .timetable .header p:nth-of-type(1) {
  font-weight: 900;
  font-size: 3rem;
}

main .timetable .header p:nth-of-type(2) {
  font-weight: 500;
  font-size: 2rem;
}

main .timetable .days {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: days;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .timetable .days p {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 1px solid black;
  font-weight: 500;
  background: #24b916;
}

main .timetable .days p:not(:nth-of-type(1)) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .timetable .days p:nth-of-type(1) {
  width: 5vw;
}

main .timetable .period {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: period;
}

main .timetable .period .time {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: 400;
}

main .timetable .monday {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: monday;
}

main .timetable .tuesday {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: tuesday;
}

main .timetable .wednesday {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: wednesday;
}

main .timetable .thursday {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: thursday;
}

main .timetable .friday {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: friday;
}

main .timetable .monday .day, main .timetable .tuesday .day, main .timetable .wednesday .day, main .timetable .thursday .day, main .timetable .friday .day {
  border: 1px solid black;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: white;
}

main .timetable > *:not(.days):not(.header) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*     Import login page styling     */
.login-container {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.login-container .image {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -10vh;
}

.login-container .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-container .login {
  position: absolute;
  right: 10vw;
  top: 10vh;
  height: 80vh;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5vh 4vw;
  background: rgba(105, 187, 201, 0.801);
  border-radius: 1rem;
}

.login-container .login .logo {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.login-container .login .logo img {
  width: 60%;
}

.login-container .login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.login-container .login form label {
  width: 100%;
  padding-bottom: 2vh;
  color: black;
  font-size: 2rem;
}

.login-container .login form label:nth-of-type(2) {
  margin-bottom: 2.5vh;
}

.login-container .login form label input {
  outline: none;
  padding: 0.5rem 1rem;
}

.login-container .login form button, .login-container .login form label input {
  height: 4vh;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
}

.login-container .login form button {
  cursor: pointer;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.login-container .login form button:hover {
  background: #1d648d;
}
/*# sourceMappingURL=style.css.map */