/***********************************************************************************
                              STANDARD MODE (LIGHT MODE)
***********************************************************************************/


/***********************************************************************************
                              STYLING FOR *
***********************************************************************************/
$standard-background-color: rgb(105, 186, 201);

$standard-text-color: rgb(197, 204, 211);

/***********************************************************************************
                              NAVBAR VARIABLES
***********************************************************************************/
$standard-navbar-background-color: rgb(126, 126, 158);

$standard-navbar-item-background-color: navy;

$standard-navbar-active-background-color: navy;
