/***********************************************************************************
                              STANDARD MODE (LIGHT MODE)
***********************************************************************************/


/***********************************************************************************
                              STYLING FOR *
***********************************************************************************/
$standard-background-color: rgb(105, 186, 201);

$standard-text-color: rgb(197, 204, 211);

/***********************************************************************************
                              NAVBAR VARIABLES
***********************************************************************************/
$standard-navbar-background-color: rgb(44, 44, 49);

$standard-navbar-item-background-color: 7EE8FA;

$standard-navbar-active-background-color: rgb(29, 100, 141);

$standard-navbar-text-color: rgb(236, 240, 241);
